.character {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.character img {
    max-width: 150px;
    margin-right: 20px;
}

.character .description {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 5px;
}

.character .description h2 {
    margin-top: 0;
}

.character .description p {
    margin-bottom: 0;
}