body {
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #ccc;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

article {
    margin-bottom: 40px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

article h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

article p {
    color: #ccc;
    font-size: 16px;
    line-height: 1.5;
}

article:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
    transition: all 0.3s ease;
}